// Please note that the import order needs to as the following structure
// to be able to overide the original Bulma variables.
// !--------DO NOT CHANGE THE IMPORT Statement order--------------------------!
@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";

// Set up initial-variables
$pink: #ffb3b3;
$pink-invert: #fff;

// Add new colors to bulma color map
@import "~bulma/sass/utilities/derived-variables";
$addColors: (
  "pink":($pink, $pink-invert)
);
$colors: map-merge($colors, $addColors);

// Import the rest of Bulma variables
@import "~bulma/bulma";
#title {
  font-weight: 900;
}
